@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Molla - Bootstrap eCommerce Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Molla - Bootstrap eCommerce Template">
	<meta name="author" content="p-themes">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/website/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/website/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/website/images/icons/favicon-16x16.png">
	<link rel="manifest" href="~/website/images/icons/site.html">
	<link rel="mask-icon" href="~/website/images/icons/safari-pinned-tab.svg" color="#666666">
	<link rel="shortcut icon" href="~/website/images/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Molla">
	<meta name="application-name" content="Molla">
	<meta name="msapplication-TileColor" content="#cc9966">
	<meta name="msapplication-config" content="~/website/images/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="~/website/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="~/website/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/website/css/plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="~/website/css/plugins/magnific-popup/magnific-popup.css">
	<!-- Main CSS File -->
	<link rel="stylesheet" href="~/website/css/style.css">
	<link rel="stylesheet" href="~/website/css/skins/skin-demo-19.css">
	<link rel="stylesheet" href="~/website/css/demos/demo-19.css">
</head>

<body>
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Sign In</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            <form method="post"> 
                                <div class="form-group">
                                    <label for="singin-email-2">Username or email address *</label>
                                    <input type="text" class="form-control" id="singin-email-2" name="customerEmail" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="singin-password-2">Password *</label>
                                    <input type="password" class="form-control" id="singin-password-2" name="customerPassword" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>LOG IN</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                        <label class="custom-control-label" for="signin-remember-2">Remember Me</label>
                                    </div><!-- End .custom-checkbox -->

                                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                                </div><!-- End .form-footer -->

                                <div class="text-center">
                                    <a href="@Url.Action("CustomerRegisteration", "Customer")" style="font-size: 18px; letter-spacing: 1px; font-weight: bold; text-align: center; display: block;">
                                        Don't
                                        Have
                                        an
                                        Account? Sign
                                        Up
                                    </a>
                                    <h5 class="text-danger text-center mt-3">@ViewBag.message</h5>
                                </div><!-- End .text-center -->
                            </form>
                            @* <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div> *@<!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->



	<script src="~/website/js/jquery.min.js"></script>
	<script src="~/website/js/bootstrap.bundle.min.js"></script>
	<script src="~/website/js/jquery.hoverIntent.min.js"></script>
	<script src="~/website/js/jquery.waypoints.min.js"></script>
	<script src="~/website/js/superfish.min.js"></script>
	<script src="~/website/js/owl.carousel.min.js"></script>
	<script src="~/website/js/bootstrap-input-spinner.js"></script>
	<script src="~/website/js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS File -->
	<script src="~/website/js/main.js"></script>
	<script src="~/website/js/demos/demo-19.js"></script>
</body>
</html>
