
@{
    ViewData["Title"] = "feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mt-2" >Get In Touch With Us</h2>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <form method="post">
                <input type="text" placeholder="Enter Your Full Name" name="user_name" class="form-control mb-4" />
                <textarea class="form-control mb-4" placeholder="Enter Your Message" name="user_message"></textarea>
                <input type="submit" class="btn btn-warning btn-block" />
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.551512089543!2d74.30301410000001!3d31.481521200000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903f08ebc7e8b%3A0x47e934f4cd34790!2sFAST%20NUCES%20Lahore!5e0!3m2!1sen!2s!4v1715359193560!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <h5 class="text-success">@TempData["message"]</h5>
</div>

