@{
    ViewData["Title"] = "fetchAllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-1">
    <h2>All Products</h2>
    <div class="allproduct mt-3 d-flex flex-wrap">
        @Html.Partial("fetchProducts", ViewData["product"])
    </div>
    @if(TempData["message"] != null)
    {
        <h4 class="text-success">@TempData["message"]</h4>
    }
</div>

