@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="mb-2"></div><!-- End .mb-2 -->

    <div class="container">
        <div class="row">
            <div class="col-xl-3 d-none d-xl-block">
                <nav class="side-nav">
                    <div class="sidenav-title">Browse Categories</div><!-- End .sidenav-title -->
                    <ul class="menu-vertical sf-arrows">
                        @Html.Partial("fetchCategoryList", ViewData["category"])
                        @* <li>
                        <a href="product.html" class="sf-with-ul">Playstation</a>

                        </li>
                        <li class="megamenu-container">
                        <a href="category.html" class="sf-with-ul">XBOX</a>

                        </li>
                        <li><a href="#">Nindendo</a></li>
                        <li><a href="#">PC Gaming</a></li>
                        <li><a href="#">Phones & Tablets</a></li>
                        <li><a href="#">Pre-owned</a></li>
                        <li><a href="#">Deals</a></li>
                        <li><a href="#">Coming Soon</a></li>
                        <li><a href="#">Accessories</a></li> *@
                    </ul><!-- End .menu -->
                </nav><!-- End .side-nav -->
            </div><!-- End .col-lg-3 -->

            <div class="col-lg-8 col-xl-6">
                <div class="banner banner-overlay banner-lg  content-left">
                    <a href="#">
                        <img src="~/website/images/demos/demo-19/banners/banner-1.jpg" alt="Banner">
                    </a>
                    <div class="banner-content">
                        <h4 class="banner-subtitle">Pre-order now</h4>
                        <img src="~/website/images/demos/demo-19/banners/banner-1-title.png" alt="Banner 1 Title" width="217" height="54" class="mb-1">
                        <a href="#" class="banner-link size-lg">Pre-Order Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-6 -->

            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="banner banner-overlay banner-sm content-right">
                    <a href="#">
                        <img src="~/website/images/demos/demo-19/banners/banner-2.jpg" alt="Banner">
                    </a>
                    <div class="banner-content text-right">
                        <h4 class="banner-subtitle">Weekend Offer</h4>
                        <img class="banner-title-img" src="~/website/images/demos/demo-19/banners/banner-2-title.png" alt="Banner-2">
                        <h4 class="banner-price">Save<span class="price">$19,99</span></h4>
                        <a href="#" class="banner-link">Buy Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div><!-- End .banner -->

                <div class="banner banner-overlay d-none d-lg-block banner-sm content-right align-center">
                    <a href="#">
                        <img src="~/website/images/demos/demo-19/banners/banner-3.jpg" alt="Banner">
                    </a>
                    <div class="banner-content text-right">
                        <img class="banner-title-img" src="~/website/images/demos/demo-19/banners/banner-3-title.png" alt="Banner-3">
                        <h5 class="text-white">35% OFF</h5>
                        <a href="#" class="banner-link">Buy Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="banner banner-overlay banner-sm content-right align-center">
                    <a href="#">
                        <img src="~/website/images/demos/demo-19/banners/banner-4.jpg" alt="Banner">
                    </a>
                    <div class="banner-content" style="left: auto; right: 3rem; align-items: flex-start;">
                        <h4 class="banner-subtitle">Weekend Sale</h4>
                        <img class="banner-title-img" src="~/website/images/demos/demo-19/banners/banner-4-title.png" alt="Banner-4">
                        <h4 class="banner-price"><span class="off">25% off</span></h4>
                        <a href="#" class="banner-link">Buy Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-3 -->

            <div class="col-lg-9">
                <div class="banner banner-overlay banner-lg">
                    <a href="#">
                        <img src="~/website/images/demos/demo-19/banners/banner-5.jpg" alt="Banner">
                    </a>
                    <div class="banner-content">
                        <h4 class="banner-subtitle">Amazing Value</h4>
                        <img class="banner-title-img mb-1" src="~/website/images/demos/demo-19/banners/banner-5-title.png" alt="Banner-5">
                        <a href="#" class="banner-link">Pre-Order Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="icon-boxes-container icon-boxes-separator bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                            <p>Orders $50 or more</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                            <p>Within 30 days</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                            <p>When you sign up</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                            <p>24/7 amazing services</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <div class="bg-light pt-3 pb-5 mb-5">
        <div class="container">

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="products-trending-tab" role="tabpanel" aria-labelledby="products-trending-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="products-new-tab" role="tabpanel" aria-labelledby="products-new-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>

                        <div class="product">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-6.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shooter</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Tom Clancy’s <br>Ghost Recon Wildlands</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $49.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-5.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Action & adventure</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">GTA Online: Criminal Enterprise Starter Pack</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$19.49</span>
                                    <span class="old-price">Was $24.49</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-2.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shooter</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">World War Z</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $39.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-1.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shooter</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Call of Duty <br>WWII - Gold Edition</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$24.00</span>
                                    <span class="old-price">Was $59.99</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-top">Top</span>
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-3.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shooter</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Borderlands: <br>The Handsome Collection</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $59.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/website/images/demos/demo-19/products/product-4.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Action & adventure</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">The Witcher 3: Wild Hunt</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $39.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="products-best-tab" role="tabpanel" aria-labelledby="products-best-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>
                        @Html.Partial("fetchProducts", ViewData["product"])

                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->
        </div><!-- End .bg-light pt-4 pb-4 -->

        <div class="container">
            <div class="heading heading-flex mb-2">
                <div class="heading-left">
                    <h2 class="title mb-5">Consoles & Accessories</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <a href="@Url.Action("fetchAllProducts","Customer")" class="title-link">View more products <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                 data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>

                @Html.Partial("fetchProducts", ViewData["product"])

            </div><!-- End .owl-carousel -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="blog-posts bg-light pt-4 pb-5">
            <div class="container">
                <div class="heading heading-flex mb-2">
                    <div class="heading-left">
                        <h2 class="title mb-0">From Our Blog</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <a href="blog.html" class="title-link">View more articles <i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .heading-right -->
                </div><!-- End .heading -->

                <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "items": 3,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":1
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="~/website/images/demos/demo-19/blog/post-1.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Morbi in sem quis dui placerat mauris sit ornare.</a>
                            </h3><!-- End .entry-title -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="~/website/images/demos/demo-19/blog/post-2.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">Dec 12, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Aliquam porttitor mauris sit ametorci.</a>
                            </h3><!-- End .entry-title -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="~/website/images/demos/demo-19/blog/post-3.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">Dec 19, 2018</a>, 2 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Cras ornare tristique elit.</a>
                            </h3><!-- End .entry-title -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="~/website/images/demos/demo-19/blog/post-4.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">Dec 19, 2018</a>, 2 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Donec consectetuer ligula vulputate sem cursus.</a>
                            </h3><!-- End .entry-title -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="~/website/images/demos/demo-19/blog/post-1.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Morbi in sem quis dui placerat mauris sit ornare.</a>
                            </h3><!-- End .entry-title -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .blog-posts -->
</main><!-- End .main -->