
@{
    ViewData["Title"] = "productDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Ecommerce_Website.Models.Product>
<div class="container mt-3">
    <h2>Product Details</h2>
    <div class="row mt-3">
        @foreach (var pro in Model)
        {
            <div class="col-md-5">
                <img src="@("~/product_images/"+pro.product_image)" asp-append-version="true"
                     height="500px" width="500px">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>Product Name: @pro.product_name</h3>
                <h4>Product Price: @pro.product_price</h4>
                <h5>Product Description:  @pro.product_description</h5>
                <a class="btn btn-warning">Add to Cart</a>
                <a class="btn btn-primary">Buy Now</a>
            </div>
        }
    </div>
</div>
